body {
  text-align: center;
}

.container {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

h1 {
  color: green;
}
